<div class="column">
  <div>
    <h1 class="heading-primary">Change password</h1>
  </div>
  <mat-card>
    <form (ngSubmit)="onSubmit()" [formGroup]="passwordForm">
      <div class="row">
        <div class="form-input">
          <label for="oldPass">Old password</label>
          <input type="password" id="oldPass" formControlName="oldPass" >
          <div *ngIf="passwordForm.get('oldPass').invalid && (passwordForm.get('oldPass').dirty || passwordForm.get('oldPass').touched)">
            <span class="error-msg" *ngIf="passwordForm.get('oldPass').hasError('required')">This field is required</span>
          </div>
        </div>
        <div class="form-group" formGroupName="passwordConfirmation">
          <div class="form-input">
            <label for="newPass">New Password</label>
            <input type="password" id="newPass" formControlName="newPass">
          </div>
          <div class="form-input">
            <label for="confirmPass">Confirm password</label>
            <input type="password" id="confirmPass" formControlName="confirmPass">
          </div>
        </div>
      </div>

    </form>
  </mat-card>
  <button class="btn btn-primary"
          type="submit"
          [disabled]="!passwordForm.valid">Save</button>
</div>
