<div class="row">
  <mat-card>
    <form (ngSubmit)="onSubmit()" [formGroup]="passwordForm">
      <div class="row">
        <div>
          <label for="oldPass"></label>
          <input type="password" id="oldPass" formControlName="oldPass">
        </div>
        <div>
          <label for="newPass"></label>
          <input type="password" id="newPass" formControlName="newPass">
        </div>
        <div>
          <label for="confirmPass"></label>
          <input type="password" id="confirmPass" formControlName="confirmPass">
        </div>
      </div>

    </form>
  </mat-card>
  <button type="submit" [disabled]="!passwordForm.valid"></button>
</div>
